.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(10, 10, 10, 0.6);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 1.25rem auto;
  border-radius: 1rem;
  box-shadow: 0 0.375rem 0.375rem hsl(0deg 0% 0% / 0.3);
  background: #F9F9F9;
  padding: 1rem 1rem 4.5rem;
  z-index: 1010;
  font-size: 1rem;
}

.modal-buttons {
  position: absolute;
  right: 0;
  bottom: 0.7rem;
  left: 0;
  text-align: center;
}
